# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.Rhistory

# ignore all build/ directories
build/
build-*/
cmake-build-*/
.idea/
.vs/
*.user
*.user~RF*.TMP
*~RF*.TMP
/test/
/examples/benchmarks/runs/
/ideas.md
/thirdparty/
thirdparty/perfetto-cpp-sdk-src/
